

<div class="navigation">
  <!-- <b (mouseover)= "col_Selected()" class="collection" (mouseout)= "col_Left()">Collection</b>
  <b (mouseover)= "about_Selected()" (mouseout)= "about_Left()" class="about">About</b>
  <b (mouseover)= "shop_Selected()" (mouseout)= "shop_Left()" class="shop">Shop</b>
  <b (mouseover)= "blog_Selected()" (mouseout)= "blog_Left()" class="blog">Blog</b>
  <b (mouseover)= "review_Selected()" (mouseout)= "review_Left()" class="review">Reviews</b> -->
  <b (click) = 'navigatehome()'>Home</b>
  <b>Collection</b>
  <b>Shop</b>
  <b (click) = 'navigateblog()'>Blog</b>
  <b>Reviews</b>
</div>
<router-outlet></router-outlet>